# .env (Variables de entorno necesarias para el proyecto)

# JWT
JWT_SECRET=secretkey
JWT_REFRESH_SECRET=secretrefreshkey
JWT_EXPIRES_IN=86400s

# DATABASE
DB_HOST=https://rjuvcfycnqdddfnpsfhp.supabase.co
DB_PORT=5432
DB_USERNAME=postgres.project_id
DB_PASSWORD=tu_db_password
DB_NAME=tu_db_name

# CLOVER
CLOVER_CLIENT_ID=tu_client_id
CLOVER_CLIENT_SECRET=tu_client_secret
CLOVER_BASE_URL=https://api.clover.com
CLOVER_REDIRECT_URI=https://yourdomain.com/api/clover/callback

# APP
PORT=3000

# MAIL
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=f029bdc76f88c7
SMTP_PASS=0db59cd98168bf
SMTP_FROM='"X7_POS" <no-reply@x7_pos.com>'

FRONTEND_URL=http://localhost:8081